{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWARAJYAM</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <div id="S">
        <nav id="nav">
            <ul>
                <li>black</li>
                <li>rape</li>
                <li>helping hand</li>
                <li>freedom</li>
                <li>about us</li>
                <li>contact us</li>
            </ul>

        </nav>
        
    
    <div id="b">
    <marquee>hello welcome in swarajaya</marquee>
    </div>
    <h1>hello shreya</h1>
    <div id="j"><img src="{% static 'images/bsh.jpg' %}" alt="My Picture" width="300"></div>
    <div id="k"><img src="{% static 'images/bsh.jpg' %}" alt="My Picture" width="300"></div>
    <div id="l"><img src="{% static 'images/bsh.jpg' %}" alt="My Picture" width="300"></div>
    <div id="m"><img src="{% static 'images/bsh.jpg' %}" alt="My Picture" width="300"></div>

    </div>

</body>
</html>