{% extends 'base.html' %}
{% block content %}
{% load static%}
<h2>My Submitted Reports</h2>
{% for report in reports %}
    <div>
        <h3>{{ report.title }}</h3>
        <p>{{ report.description }}</p>
        <p><strong>Location:</strong> {{ report.location }}</p>
        <p><strong>Date:</strong> {{ report.date }}</p>
        {% if report.proof_image %}
            <img src="{{ report.proof_image.url }}" width="200px">
        {% endif %}
        <hr>
    </div>
{% empty %}
    <p>No reports found.</p>
{% endfor %}
{% endblock %}
